div #clock{
    display: relative;

}

#clock img {

}

#hour {
    z-index: 1;
    position: absolute;
    left: 7px;
    top: -10px;
}

#minute {
    z-index: 2;
    position: absolute;
    left: 7px;
    top: -10px;
}

#second {
    z-index: 3;
    position: absolute;
    left: 7px;
    top: 3px;
}

